<header>
  <nav class="container-nav-bar">
    <div class="nav-bar-items">
      <input
        type="text"
        class="margin-navbar-input input-search"
        placeholder="Digite o nome do livro..."
    />
      <button class="btn-styles">Buscar</button>
    </div>
    <div class="nav-bar-items">
      <h1 class="title-style">Leia+</h1>
    </div>
    <a>
      <select name="books-types" class="drop-books-types">
        <option value="none"></option>
        <option value="books">Livros</option>
        <option value="ebooks">Ebooks</option>
      </select>
    </a>
    <div class="nav-bar-items margin-navbar-icons-button">
      <div class="container-icons-button">
        <a>
          <img
            src="../../../assets/image/shopping-cart.png"
            alt="Botão de carrinho clicável"
            width="30"
            height="24"
          />
        </a>
        <a>
          <img
            src="../../../assets/image/icons8-gostar-100.png"
            alt="Botão favoritos com ícone de coração"
            width="30"
            height="24"
            style="border-radius: 50%;"
          />
        </a>
        <a>
          <img
            src="../../../assets/image/icons8-usuário-90.png"
            alt="Botão de login com ícone de user"
            width="30"
            height="24"
          />
        </a>
      </div>
    </div>
  </nav>
</header>
